html {
    box-sizing: border-box; 
    background: url(https://i.imgur.com/0crVeWZ.jpg) no-repeat center center fixed;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.homeLink img {
    display: block;
    width: 5%;
    height: 5%;
    margin: auto;
}

.homePage h1 {
    text-align: center;
}

button, .submitButton {
    display: block;
    width: 80%;
    margin: auto;
}

.flag img {
    display: block;
    width: 20%;
    height: 20%;
    margin: auto;
}

.flag p {
    text-align: center;
}

label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: center;
    overflow: hidden;
}

.counter ul {
    list-style-type: none;
    text-align: center;
}

fieldset {
    border: none;
}

.quizForm {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}  
