html {
    box-sizing: border-box; 
    background: url(https://i.imgur.com/0crVeWZ.jpg) no-repeat center center fixed;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

title {
    display: none;
}

main {
    height: 55%;
}

body, h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.questionTitle {
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

a:link, a:visited {
    color: white;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.homePage h1, .questionTitle,
.answerResponse, .results, 
.flag p, .counter ul, 
div {
    text-align: center;
}

button, .submitButton {
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: none;
    background-color: forestgreen;
    border-radius: 5%;
    color: white;
}

h1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

div.counter, .homeDescription {
    width: 90%;
}

button.buttonStart {
    margin-top: 125px;
}

label.answerChoice {
    display: block;
    float: left;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;

    border-radius: 50%;
    width: 20px;
    height: 20px;
  
    border: 2px solid white;
    transition: 0.3s;
    outline: none;
  }
  
  input[type='radio']:checked {
    border: 8px solid white;
  }

.flag img {
    width: 150px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

p.answerResponse {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

button.continue, 
button.reset {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

label {
    padding: 12px 30px;
    text-align: center;
    overflow: hidden;
}

.counter ul, div {
    list-style-type: none;
    display: block;
    font-size: 16px;
    margin: auto 0;
}

.counter ul {
    margin-top: 30px;
    padding: 0;
}

fieldset {
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.quizForm {
    display: none;
}

.questionCounter, 
.questionCounter span, 
.correctCounter, 
.correctCounter span {
    display: inline;
    text-align: center;
}

.correctCounter {
    margin-top: 10px;
}

.resultParagraph {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
    *, h1, h2.questionTitle {
        font-size: 20px;
    }

    .submitButton,
    button.continue {
        margin-top: 75px;
        width: 150px;
        padding: 10px;
    }

    button.reset {
        margin-top: 100px;
        width: 150px;
        padding: 10px;
    }

    form {
        margin-top: 45px;
    }

    p.answerResponse {
        margin-top: 70px;
    }
}
